#title {
  text-align: center;
  margin-bottom: 50px;
}

#color-palette {
  text-align: center;
  margin-bottom: 50px;
}

.color {
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  padding: 50px;
}

#color-black {
  background-color: black;
}

#pixel-board {
  line-height: 0;
  text-align: center;
}

.pixel {
  background-color: white;
  display: inline-block;
}
